.App {
  text-align: center;
}
html{
  background-image: url("./images/what-the-hex.png");
}

.app-heading{
  background-color:#CCE6F4;
  max-width: 500px;
  min-width: 300px;
  width:50%;
  padding:10px;
  color:#175676;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  box-shadow:1px 1px 5px 1px rgb(146, 164, 173);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*form styling*/
form{
  border-radius:10px;
  /*box-shadow:1px 1px 2px 2px #CCE6F4;*/
  margin:auto;
  margin-top:20px;
  display:inline-block;
  padding: 30px;
  background-color:#CCE6F4;
  border:solid #CCE6F4;
  box-shadow:1px 1px 5px 1px rgb(146, 164, 173);
}
input[type=submit]{
  border-radius:5px;
  padding:3px;
  background-color:#175676;
  color:white;
  width:100%;
  appearance: none;
  cursor: pointer;
  border: solid #175676;
  margin: 10px 0px 10px 0px;
  font-size:16px;
}
input[type=submit]:hover{
  background-color:#4BA3C3;
  border:solid #4BA3C3;
}
select{
  width:100%;
  border-radius:5px;
  padding:5px;
  margin:5px 0px 5px 0px;
  background-color:#175676;
  border: solid #175676;
  color:white;
}

option:hover{
  background-color:#175676;
}
input[type=number]{
  border-radius:5px;
  padding:5px 0px 5px 0px;
  width:100%;
  margin:10px 0px 10px 0px;
  border:solid 0px #CCE6F4;
}
